<!-- Declare the document type and specify the language -->
<!DOCTYPE html>

<!-- Start the HTML document -->
<html lang="en">
    <!-- Start the head section of the document -->
    <head>
        <!-- Define the viewport settings for responsive design -->
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <!-- Set the title of the document -->
        <title>store</title>
    <!-- End the head section -->
    </head>

    <!-- Start the body section of the document -->
    <body>
        <!-- Insert content from the "body" block (content varies based on template) -->
        {% block body %}{% endblock %}
    <!-- End the body section -->
    </body>
<!-- End the HTML document -->
</html>
