{% extends "layout.html" %}

{% block body %}
    <form action="/register" method="post">
        <input autocomplete="off" autofocus="name" placeholder="Name" type="text">
        <select>      <!-- drop down menu -->
            <option disabled selected>Sport</option>   <!-- create a disabled option for the default value -->
            <option value="Basketball">Basketball</option>
            <option value="Soccer">Soccer</option>
            <option value="Football">Football</option>
        </select>
        <button type="submit">Register</button>
    </form>
{% endblock %}
