<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1", width="device-width">
        <title>flask server template</title>
    </head>
    <body>
        <form action="/register" method="post">
            <input autocomplete="off" autofocus="name" placeholder="Name" type="text">
            <select>      <!-- drop down menu -->
                <option value="Basketball">Basketball</option>
                <option value="Soccer">Soccer</option>
                <option value="Football">Football</option>
            </select>
            <button type="submit"></button>
        </form>

    </body>
</html>